body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    position: fixed;
    z-index: 999999;
}

.logo-list {
    display: flex;
    align-items: center;
}

.logo-text {
    padding: 0 30px;
    font-size: 24px;
    cursor: pointer;
}

.list-header {
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    list-style-type: none;
}

.list-header li {
    margin: 0 30px;
    padding: 10px 10px;
    position: relative;
}

.list-header li:first-child {
    margin-left: 0;
}

.list-header .ls1 .ls-start {
    margin: 30px 0 0 0;
    position: absolute;
    height: 130px;
    width: 200px;
    color: black;
    background-color: #fff;
    display: none;
}

.list-header li div {
    cursor: default;
}

.list-header li div div {
    margin: 5px 0 5px 10px;
    cursor: pointer;
}

.list-header li div div:hover {
    color: #007bff;
    text-decoration-line: underline;
}

.list-header .ls2 .ls-sell {
    margin: 30px 0 0 0;
    position: absolute;
    height: 150px;
    width: 200px;
    color: black;
    background-color: #fff;
    display: none;
}

.list-header .ls3 .ls-Manage {
    margin: 30px 0 0 0;
    position: absolute;
    height: 150px;
    width: 200px;
    color: black;
    background-color: #fff;
    display: none;
}

.list-header .ls4 .ls-Learn {
    margin: 30px 0 0 0;
    position: absolute;
    height: 150px;
    width: 200px;
    color: black;
    background-color: #fff;
    display: none;
    border: 0px solid black;
}

.list-header li:hover {
    cursor: pointer;
    color: #007bff;

    .ls-start,
    .ls-sell,
    .ls-Manage,
    .ls-Learn {
        display: block;
    }
}

.ls-start::after,
.ls-sell::after,
.ls-Manage::after,
.ls-Learn::after {
    position: absolute;
    content: "";
    height: 30px;
    width: 80px;
    left: 0;
    top: -30px;
}

.login-create {
    display: flex;
}

.login-create div {
    margin: 0 10px;
    padding: 10px 10px;
    border: 0px solid black;
    border-radius: 40px;
}

.login-create div:first-child {
    .login {
        color: black;
    }
}

.login-create div:first-child:hover {
    .login {
        color: #007bff;
    }
}

.login-create div:last-child {
    background-color: black;

    .create {
        color: #fff;
    }
}

.login-create div:last-child:hover {
    background-color: #6baef7;

    .create {
        color: black;
    }
}

a {
    text-decoration: none;
}

.main {
    margin: 0;
    padding: 90px;
    height: 1120px;
    background-color: #93bdea;
}

.font2 {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-img {
    position: relative;
}

.main-img div img:first-child {
    position: absolute;
    height: 300px;
    width: 200px;
    left: -50px;
    top: 50%;
}

.main-img div img:last-child {
    position: absolute;
    right: 85px;
    bottom: 25%;
    height: 340px;
    width: 150px;
    transform: translateY(25%);
    border-radius: 20px;
}

.main1 {
    height: 180px;
    background-color: #fff;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin: 5px 20px;
}

.main1 div {
    padding: 0 50px;
    border-right: 1px solid black;
}

.main1 div:last-child {
    border-right: none;
}

.main1 div a {
    color: black;
}

.main1 div a:hover {
    opacity: .6;
}

.main2 {
    background-color: #f2f2f2;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main2 .mn2-1 {
    height: 140px;
    width: 530px;
    flex: 1;
    align-self: center;
    font-size: 28px;
    padding-left: 100px;
}

.main2 .mn2-2 {
    flex: 1;
    align-self: center;
    font-size: 20px;
}

.main2 .mn2-2 div {
    margin: 30px 50px;
}

.main2 .mn2-2 div:last-child {
    padding: 20px;
    width: 180px;
    text-align: center;
    background-color: black;
    border-radius: 30px;
}

.main2 .mn2-2 div:last-child .mn2-22a {
    color: #fff;
}

.main2 .mn2-2 div:last-child:hover {
    background-color: #6baef7;

    .mn2-22a {
        color: #000;
    }
}

.main3 {
    height: 460px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main4 {
    height: 800px;
    margin: 0 100px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main4 .card {
    height: 290px;
    width: 290px;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 30px 30px;
    color: #000;
    transition: all 1s;
}

.main4 .card:hover {
    transition: transform .5s ease;
    transform: translateY(-10%);
    box-shadow: 10px 10px 10px #cde0f5;

    .card1 img {
        transform: rotate3d(1, 1, 1, 15deg);
        transition: transform .5s ease;
    }
}

.main4 .card div {
    padding: 5px 20px;
}

.main4 .card div:last-child strong {
    padding: 2px 0;
    border-bottom: 2px solid black;
}

.main4 .card .card1 {
    display: flex;
}

.main4 .card .card1 div {
    flex: 1;
    font-size: 28px;
    align-self: center;
    text-align: center;
}

.main4 .card .card1 img {
    flex: 1;
}

.main5 {
    display: flex;
    flex-direction: column;
    height: 800px;
    background-color: #fa6050;
    text-align: center;
    align-items: center;
    align-content: space-around;
}

.main5 .Start-Your-Journey {
    width: 200px;
    height: 60px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    /* position: relative; */

}

.main5 .Start-Your-Journey div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.main5 .orgin {
    margin: 20px;
    width: 1060px;
    height: 410px;
    background-color: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
}

.main5 .orgin .orgin-slide {
    margin: 0;
    padding: 0 60px;
    background-color: #f2f2f2;
    position: relative;
    transition: all 1.5s;
    transform: translateX(-100px);
}

.main5 .orgin .orgin-slide .slide {
    display: flex;
    position: absolute;
}

.main5 .orgin .orgin-slide .slide .slideshow {
    margin: 0;
    width: 900px;
    height: 410px;
    background-color: #f2f2f2;
    align-self: center;
    padding: 0 100px;
}

.clickslidel:hover,
.clickslider:hover {
    cursor: pointer;
    color: #6baef7;
}

.main6 {
    height: 300px;
}

.main6 div {
    width: 1000px;
    margin-top: 150px;
    margin-left: 100px;
}

.main6 div h2 {
    font-size: 48px;
}

.main7 {
    margin: 0 60px;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.main7 div {
    padding: 20px;
    height: 240px;
    width: 270px;
    background-color: #f2f2f2;
    border-radius: 20px;
    position: relative;
}

.main8 {
    text-align: center;
    margin-top: 5rem;
}

.main8 div {
    height: 750px;
    margin: 0;
    border-radius: 30px;
    position: relative;
}

.main8 div img:last-child {
    position: absolute;
    right: 300px;
    top: 50px;
}

.main9 {
    height: 1200px;
    background-image: url(../img/dea07e_138486b176f9432eab8e44d334bd8636~mv2.webp);
    margin: 150px 0;
}

.main9 div {
    text-align: center;
}

.main9-11 {
    display: flex;
    flex-wrap: wrap;
}

.main9-11 div {
    flex: 1;
    margin: 15px;
}

.main9-11 div:last-child {
    position: absolute;
    padding-top: 150px;
    left: 635px;
}

.main9-2 {
    display: flex;
    color: #fff;
    margin: 50px 50px;
}

.main9-2 div {
    flex: 1;
    text-align: left;
}

.main9-2 div h3 {
    margin: 0 20px;
}

.main9-2 div ul li {
    list-style: disc;
}

.main10 {
    height: 1100px;
    display: flex;
    margin: 10px 40px 0 40px;
}

.main10 .main10-1 div {
    flex: 1;
    margin: 20px 10px;
}

.main10-12 {
    display: flex;
}

.main10-13 {
    position: relative;
    height: 50px;
    background-color: #000;
    color: #fff;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 20px;
    left: 20px;
}

.main10-13:hover {
    background-color: #6baef7;

    .main10-131 {
        color: #000;
    }
}

.main10-131 {
    color: #fff;
}

.main11 {
    height: 1100px;
    display: flex;
    margin: 10px 40px 0 40px;
    flex-direction: row-reverse;
}

.main11 .main11-1 div {
    flex: 1;
    margin: 20px 10px;
}

.main11-12 {
    display: flex;
}

.main11-13 {
    position: relative;
    height: 50px;
    background-color: #000;
    color: #fff;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 20px;
    left: 20px;
    min-width: 250px;
}

.main11-13:hover {
    background-color: #6baef7;

    .main11-131 {
        color: #000;
    }
}

.main11-131 {
    color: #fff;
    /* padding: 0 5px; */
}

.main11-2 {
    position: relative;
}

.main11-2 .main11-22 {
    position: absolute;
    left: 5%;
    bottom: 30%;
}

.main11-2 .main11-22 img {
    border-radius: 10px;
}

.main11-2 .main11-23 {
    position: absolute;
    right: 2%;
    top: 26%;
}

.main11-2 .main11-23 img {
    border-radius: 10px;
}

.main12 {
    margin: 0;
    padding: 0;
    background-image: url("../img/backgroup_main12.webp");
    background-repeat: no-repeat;
    object-fit: cover;
}

.main12-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.main12-1 div {
    flex: 1;
    margin: 10px 0px;
}

.main12-a {
    color: #000;
    text-decoration-line: underline;
}

.main12-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
}

.main12-2 div {
    margin: 20px 1px;
}

.main12-img {
    transition: transform .3s ease, box-shadow .3s ease;
}

.main12-img:hover {
    transform: translateY(-15px);
    box-shadow: 0px 10px 10px 10px rgb(0, 0, 0, 0.09);
}

.main13-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px;
}

.main13-2 div {
    margin-bottom: 30px;
}

.main13-img {
    border-radius: 10px;
    transition: filter 0.3s ease;
}

.main13-img:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.main13-a {
    color: #000;
}

.main13-a:hover {
    color: #67b0ff;
}

.main14 {
    background-color: #f0d2b5;
}

.main14-1 {
    display: flex;
    margin: 30px;
}

.main14-11 {
    flex: 1;
    margin: 150px 50px;
    font-size: 18px;
}

.main14-12 {
    flex: 2;
    display: flex;
    margin: 100px 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main14-12 div {
    margin-top: 40px;
    border-radius: 10px;
    transition: transform .4s ease;
}

.main14-12 div:hover {
    transform: translateY(-10%);
    cursor: pointer;
}

.main14-12 div img {
    border-radius: 10px;
    margin: 10px 10px 0 10px;
}

.main14-12 div div {
    margin-left: 10px;
    margin-right: 10px;
}